.help{

  a.close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  color: $white;
  h1, p.title{ color: $white; }

  // Fixes
  .slider, .slider-slides, .scroll{
    height: 100%;
  }  

  .slider-slide{
    padding-top: $line-height;
  }

  .has-tabs{
    top: 0;
    padding-top: 72px;
  }

  .pane{
    background: transparent;
    transition: background linear 300ms;
  }

  // Reveal
  .slider-pager{
    display: none;
  }

  .slider-slide{
    h1{
      font-family: $headfont;
      font-weight: 700;
      text-align: center;
      padding: 0px 10px;
    }

    p.title{
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      margin: 1em 0;
      padding: 0px 10px;
      line-height: 1.6em;
    }

    strong{
      font-style: normal;
      font-weight: 900;      
    }
  }

  // Track
  .tracks{
    top: 4 * $inner-height;    
    opacity: 1;
    transition: opacity 300ms linear;
    position: absolute;
    width: 100%;
  }

  // Swipe
  .swipe{
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 100%;
    position: absolute;
    top: $line-height * 4;
    color: $white;
    font-size: 24px;
    font-weight: 300;


    opacity: 0;
    transition: opacity 0s linear;
    &.displayed{
      transition: opacity 1000ms linear;
      opacity: 1;
    }

    i{
      -webkit-animation: blink 4000ms linear infinite;
      animation: blink 4000ms linear infinite;
    }

    i:nth-child(1){
      -webkit-animation-delay: 100ms;
    }
    i:nth-child(2){
      -webkit-animation-delay: 50ms;
    }
    i:nth-child(3){
    }

  }


  // Slides
  .slide0{
    .slider-slide{
      background: $lightback;
    }

    .slider-pager, .tracks{
      opacity: 0;
    }

    h1{
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }


  .slide1{
    .slider-slide{
      background: mix($lightback, $darkmain, 80);
    }
  }

  .slide2{
    .slider-slide{
      background: mix($lightback, $darkmain, 60);
    }
  }

  .slide3{
    .slider-slide{
      background: mix($lightback, $darkmain, 40);
    }
  }

  .slide4{
    .tracks .additional{
      left: 0;
    }

    .slider-slide{
      background: mix($lightback, $darkmain, 20);
    }
  }

  .slide5{
    .slider-slide{
      background: $darkmain;
    }
    .tracks{
      opacity: 0
    }
    .swipe{
      display: none;
    }

    h1{
      margin-bottom: 2em;
    }

    p.link{
      font-size: 18px;
      line-height: 24px;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      margin: 1em 0;
      padding: 0px 10px;
      line-height: 36px;      
      color: $white;

      i{
        font-size: 36px;
        vertical-align: middle;
        margin: 0px 10px;
      }
    }

    .downarrow{
      text-align: center;
      font-size: 36px;
      width: 100%;
      position: absolute;
      bottom: $inner-height + 10;      
      i{
        color: $white;
        -webkit-animation: blink 4000ms linear infinite;
        animation: blink 4000ms linear infinite;        
      }
    }
  }

}

// Animations
@-webkit-keyframes blink{ 
  0% {
    opacity: 1;
  }
  1%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
}

