// Fuck it, absolute sizes

i.upvote{
  display: inline-block;
  height: 42px;
  line-height: 42px;
  width: 42px;
  text-align: center;
  vertical-align: middle;
  font-size: 42px;

  .outer{
    display: block;
    width: 38px;
    height: 38px;
    margin: 2px;
    border-radius: 100%;
    border: 9px solid $darkback;
  }

  .inner{
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid $lightmain;
    border-radius: 100%;
    margin: 2px;
  }

  &.muted{
    .outer{
      border-color: $gray;
    }
    .inner{
      border-color: $lightgray;
    }
  }

  &.spin{
    .outer{
      border-top-color: transparent;
      border-bottom-color: transparent;      
      -webkit-animation: spin 400ms infinite linear;
      animation: spin 400ms infinite linear;
    }

    .inner{
      border-left-color: transparent;
      border-right-color: transparent;
      -webkit-animation: spin-reverse 200ms infinite linear;
      animation: spin-reverse 200ms infinite linear;
    }
  }
}


@-webkit-keyframes spin { 
  from { 
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin { 
  from { 
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse { 
  from { 
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin-reverse { 
  from { 
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(-360deg);
  }
}

span.upvote{
  width: 42px;
  height: 42px;

  .outer{
    stroke: $darkback;
  }


  .inner{
    stroke: $lightmain;
  }
}
