body{
  background: $darkback;
  color: $white;
  font-family: $basefont;
  font-weight: 700;
}

// CONTENT
.has-header{
  top: $line-height;
}

.has-subheader{
  top: $line-height * 2;
}

.has-tabs{
  bottom: $line-height;
}

.pane, .view{
  background-color: lighten($lightgray, 13);
  color: $lightback;  
}

// TOPBAR
.topbar{
  background: $darkmain;
  border-bottom: none;
  height: $line-height;
  padding: $padding;

  h1.title{
    color: $white;
    font-family: $titlefont;
    line-height: $line-height;
    font-size: $line-height / 3;
  }

}

// BOTTOM BAR
.bottomnav .tabs{
  background-color: $lightback;
  color: $white;
  border-top: none;
  height: $line-height;
}

.bottomnav .tab-item .icon{
  margin: $padding;
  height: $inner-height;
  line-height: $inner-height;
}
