body{
  background: $darkback;
  color: $white;
  font-family: $basefont;
  font-weight: 700;
}

input{
  font-family: $basefont;
}

// CONTENT
.has-tabs{
  top: $line-height;
  bottom: $line-height;
}

.pane, .view{
  background-color: lighten($lightgray, 13);
  color: $lightback;  
}

// TOPBAR
.topbar{
  background: $lightback;
  border-bottom: none;
  height: $line-height;
  padding: $padding;

  h1.title{
    margin: 0 $padding;
    color: $white;
    text-align: left;
    display: inline-block;
    margin-left: $padding;
    font-family: $titlefont;
    line-height: $inner-height;
    height: $inner-height;
    font-size: $line-height / 3;
    top: $padding;

    .right{
      float: right;
    }
  }
}

// BOTTOM BAR
.bottomnav .tabs{
  background-color: $lightback;
  color: $white;
  border-top: none;
  height: $line-height;
}

.bottomnav .tab-item .icon{
  margin: $padding;
  height: $inner-height;
  line-height: $inner-height;
}
