// PLAYLIST TOPBAR
.playlist-topbar{
  background: $lightback;
  color: $lightgray;
  height: $line-height;
  top: $line-height;
  font-weight: 900;
  border-bottom: 0;
  padding: $padding;
  line-height: $inner-height;
  text-align: right;

  strong{
    vertical-align: baseline;
    line-height: $inner-height - $padding;
    display: inline-block;
    font-size: $inner-height * 0.75;
    font-family: $titlefont;
  }

  small{
    vertical-align: super;
    margin-right: $inner-height * 0.25;
    margin-left: $inner-height * 0.1;
    line-height: $inner-height - $padding;
    display: inline-block;
    font-family: $titlefont;
    font-size: $inner-height * 0.4;
  }

  i.upvote{
    margin-bottom: 15px;
  }


  // .currently-playing{
  //   float: left;
  //   width: 70%;
  //   overflow: ellipsis;
  //   line-height: $line-height;
  //   font-size: $line-height / 4;
  // }
}
