// PLAYLIST TOPBAR
.current-votes{
  color: $lightgray;
  height: $line-height;
  line-height: $inner-height;
  font-weight: 900;
  text-align: right;

  small{
    margin-left: -$inner-height * 0.15;
    margin-right: $inner-height * 0.15;
    font-size: $inner-height * 0.4;
  }
}
