/* Your app's CSS, go crazy, make it your own */
$line-height: 72px;
$padding: 15px;
$inner-height: ($line-height - 2 * $padding);

@import "colors";
@import "fonts";
@import "icons";

@import "track";
@import "layout";

@import "login";
@import "playlist";
@import "search";

// Title
.main-title{
  font-family: $headfont;

  span:nth-child(1){
    color: $white;
  }
  span:nth-child(2){
    color: $lightmain;
  }
  span:nth-child(3){
    color: $lightmain;    
  }
}

