/* Your app's CSS, go crazy, make it your own */
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
i.upvote {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  width: 42px;
  text-align: center;
  vertical-align: middle;
  font-size: 42px; }
  i.upvote .outer {
    display: block;
    width: 38px;
    height: 38px;
    margin: 2px;
    border-radius: 100%;
    border: 9px solid #2c3e50; }
  i.upvote .inner {
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #9b59b6;
    border-radius: 100%;
    margin: 2px; }
  i.upvote.muted .outer {
    border-color: #95a5a6; }
  i.upvote.muted .inner {
    border-color: #bdc3c7; }
  i.upvote.spin .outer {
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation: spin 400ms infinite linear;
    animation: spin 400ms infinite linear; }
  i.upvote.spin .inner {
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: spin-reverse 200ms infinite linear;
    animation: spin-reverse 200ms infinite linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
@-webkit-keyframes spin-reverse {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }
@keyframes spin-reverse {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(-360deg); } }
span.upvote {
  width: 42px;
  height: 42px; }
  span.upvote .outer {
    stroke: #2c3e50; }
  span.upvote .inner {
    stroke: #9b59b6; }

html {
  min-height: 100%; }

body {
  background-image: radial-gradient(ellipse farthest-side at 40% 30%, rgba(0, 0, 0, 0.4) 0%, transparent 100%), radial-gradient(ellipse farthest-side at 70% 80%, rgba(142, 68, 173, 0.4) 0%, rgba(142, 68, 173, 0) 70%), radial-gradient(ellipse farthest-side at 20% 10%, rgba(127, 140, 141, 0.3) 0%, rgba(127, 140, 141, 0) 70%);
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: "Lato", sans-serif;
  font-weight: 700; }

input {
  font-family: "Lato", sans-serif; }

.main-title {
  font-family: "Montserrat"; }
  .main-title span:nth-child(1) {
    color: #ecf0f1; }
  .main-title span:nth-child(2) {
    color: #9b59b6; }
  .main-title span:nth-child(3) {
    color: #9b59b6; }

.appmodal {
  opacity: 0;
  z-index: -1;
  -webkit-transition: 300ms;
  transition: 300ms; }

.appmodal.shown {
  opacity: 1;
  z-index: 999; }

.appmodal.shown-add {
  -webkit-animation: 300ms fadeInModal;
  animation: 300ms fadeInModal; }

.appmodal.shown-remove {
  -webkit-animation: 300ms fadeOutModal;
  animation: 300ms fadeOutModal; }

@-webkit-keyframes fadeInModal {
  0% {
    z-index: 999;
    opacity: 0; }

  100% {
    z-index: 999;
    opacity: 1; } }
@keyframes fadeInModal {
  0% {
    z-index: 999;
    opacity: 0; }

  100% {
    z-index: 999;
    opacity: 1; } }
@-webkit-keyframes fadeOutModal {
  0% {
    z-index: 999;
    opacity: 1; }

  100% {
    z-index: 999;
    opacity: 0; } }
@keyframes fadeOutModal {
  0% {
    z-index: 999;
    opacity: 1; }

  100% {
    z-index: 999;
    opacity: 0; } }
.appmodal a.close {
  float: right;
  font-size: 42px;
  padding: 15px;
  text-align: center;
  width: 72px; }

.has-tabs {
  top: 72px;
  bottom: 72px; }

.scroll-content.playlist {
  background-color: #e1e4e5;
  color: #34495e;
  top: 72px; }

.topbar {
  background: #34495e;
  border-bottom: none;
  height: 72px;
  padding: 15px; }
  .topbar h1.title {
    margin: 0 15px;
    color: #ecf0f1;
    text-align: left;
    display: inline-block;
    margin-left: 15px;
    font-family: "Montserrat";
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    line-height: 42px;
    height: 42px;
    font-size: 26.25px;
    top: 15px; }
  .topbar .search-link {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 42px;
    height: 72px;
    padding: 15px; }

.track {
  height: 72px;
  border: 0;
  background: #e4e6e8; }
  .track .item-content {
    padding: 15px; }
  .track .left {
    float: left;
    width: 42px;
    height: 42px;
    margin-right: 15px; }
    .track .left strong {
      text-align: center;
      display: block;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      line-height: 36px;
      font-size: 25.2px; }
      .track .left strong.tight {
        font-size: 18.9px; }
  .track .right {
    float: right;
    width: 42px;
    height: 42px;
    margin-left: 15px; }
    .track .right i.icon, .track .right i.upvote, .track .right a {
      cursor: pointer; }
    .track .right i.icon, .track .right a {
      font-size: 42px;
      line-height: 42px;
      height: 42px;
      width: 42px;
      display: inline-block;
      text-align: center; }
  .track h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
    height: 21px;
    line-height: 21px; }
  .track p {
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    height: 21px;
    line-height: 21px; }
  .track h3 {
    color: #34495e; }
  .track p {
    color: #7f8c8d; }
  .track:nth-child(odd) {
    background: #dee1e3; }
  .track .left strong {
    color: #7f8c8d; }
  .track .right {
    color: #34495e; }
  .track.highlight {
    background: #9145b1; }
    .track.highlight h3 {
      color: #ecf0f1; }
    .track.highlight p {
      color: #ecf0f1; }
    .track.highlight:nth-child(odd) {
      background: #8b43a9; }
    .track.highlight .left strong {
      color: #ecf0f1; }
    .track.highlight .right {
      color: #ecf0f1; }
    .track.highlight i.upvote .outer {
      border-color: #ecf0f1; }
    .track.highlight i.upvote .inner {
      border-color: #ecf0f1; }
    .track.highlight span.upvote .outer {
      stroke: #ecf0f1; }
    .track.highlight span.upvote .inner {
      stroke: #ecf0f1; }
  .track.new {
    background: #e4e6e8; }
    .track.new h3 {
      color: #8e44ad; }
    .track.new p {
      color: #7f8c8d; }
    .track.new:nth-child(odd) {
      background: #dee1e3; }
    .track.new .left strong {
      color: #7f8c8d; }
    .track.new .right {
      color: #8e44ad; }
    .track.new .left strong {
      color: #9b59b6; }
    .track.new i.upvote .outer {
      border-color: #8e44ad; }
    .track.new span.upvote .outer {
      stroke: #8e44ad; }
  .track.dying {
    background: #e4e6e8; }
    .track.dying h3 {
      color: #7f8c8d; }
    .track.dying p {
      color: #95a5a6; }
    .track.dying:nth-child(odd) {
      background: #dee1e3; }
    .track.dying .left strong {
      color: #95a5a6; }
    .track.dying .right {
      color: #7f8c8d; }
    .track.dying i.upvote .outer {
      border-color: #95a5a6; }
    .track.dying i.upvote .inner {
      border-color: #bdc3c7; }
    .track.dying span.upvote .outer {
      stroke: #95a5a6; }
    .track.dying span.upvote .inner {
      stroke: #bdc3c7; }

/* Track insertion */
@-webkit-keyframes insert {
  /* Initial state : nothing */
  0% {
    height: 0;
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

  /* Open the space */
  30% {
    height: 72px;
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

  /* Slide the track from the left */
  100% {
    height: 72px;
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }
/* Track removal */
@-webkit-keyframes remove {
  /* Initial state : nothing */
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    height: 72px; }

  /* Slide to the right */
  30% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 72px; }

  /* Close the space */
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 0; } }
.track.ng-enter {
  height: 0;
  opacity: 0;
  /*Trick for no flicker*/
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all; }

.track.ng-enter.ng-enter-active {
  -webkit-animation: insert 1000ms;
  animation: insert 1000ms; }

.track.ng-leave {
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all; }

.track.ng-leave.ng-leave-active {
  -webkit-animation: remove 1000ms;
  animation: remove 1000ms; }

/* Reordering */
.track.ng-move {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.track.ng-move.ng-move-active {
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

.track.ng-move + .track {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px); }

.track.ng-move.ng-move-active + .track {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

.login.main-title, .loading-screen .main-title {
  display: block;
  text-align: center;
  margin: 72px 0;
  font-size: 42px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); }

.room-form {
  animation: fadein 1000ms;
  -webkit-animation: fadein 1000ms; }
  .room-form .item-input {
    border: 0;
    border-top: 1px solid #7f8c8d;
    border-bottom: 1px solid #7f8c8d;
    background: transparent;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    padding: 15px; }
  .room-form input {
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    color: #2c3e50;
    padding: 0; }
  .room-form i.upvote {
    margin-right: 15px; }
  .room-form.focus .item-input {
    background: #ecf0f1;
    border-color: #ecf0f1; }
  .room-form.focus i {
    color: #9b59b6; }

.login-error {
  background: transparent;
  border: none;
  color: #ecf0f1;
  opacity: 0.8; }

.show-help {
  animation: fadein 1000ms;
  -webkit-animation: fadein 1000ms;
  position: absolute;
  bottom: 72px;
  text-align: center;
  width: 100%; }
  .show-help a {
    display: inline-block;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #ecf0f1;
    background: #9b59b6;
    padding: 8px 12px;
    border-radius: 2px;
    border-bottom: 2px solid #8e44ad; }

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center; }
  .footer a {
    color: #ecf0f1;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.notracks {
  color: #7f8c8d;
  font-style: italic;
  font-size: 1.6em;
  line-height: 1.6em;
  margin-top: 1em;
  text-align: center;
  font-weight: 400; }
  .notracks a {
    color: #8e44ad;
    text-decoration: underline;
    font-weight: 600; }

.scroll-content.search {
  background: #8e44ad;
  color: #ecf0f1; }
  .scroll-content.search .track {
    background: #8e44ad; }
    .scroll-content.search .track h3, .scroll-content.search .track p, .scroll-content.search .track .right {
      color: #ecf0f1; }

form.search .item-input {
  border: 0;
  background: #8e44ad;
  color: #ecf0f1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding: 15px; }
form.search input {
  height: 42px;
  font-size: 18px;
  line-height: 42px;
  color: #ecf0f1;
  padding: 0; }
  form.search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
form.search i.icon {
  padding: 0;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  font-size: 33.6px;
  line-height: 42px;
  height: 42px;
  width: 42px;
  color: #ecf0f1; }

.right.cannotadd a {
  font-size: 25.2px;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

i.add-track {
  font-size: 42px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center; }

.help {
  color: #ecf0f1; }
  .help a.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; }
  .help h1, .help p.title {
    color: #ecf0f1; }
  .help .slider, .help .slider-slides, .help .scroll {
    height: 100%; }
  .help .slider-slide {
    padding-top: 72px; }
  .help .has-tabs {
    top: 0;
    padding-top: 72px; }
  .help .pane {
    background: transparent;
    -webkit-transition: background linear 300ms;
    transition: background linear 300ms; }
  .help .slider-pager {
    display: none; }
  .help .slider-slide h1 {
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    padding: 0px 10px; }
  .help .slider-slide p.title {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
    padding: 0px 10px;
    line-height: 1.6em; }
  .help .slider-slide strong {
    font-style: normal;
    font-weight: 900; }
  .help .tracks {
    top: 168px;
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
    position: absolute;
    width: 100%; }
  .help .swipe {
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 100%;
    position: absolute;
    top: 288px;
    color: #ecf0f1;
    font-size: 24px;
    font-weight: 300;
    opacity: 0;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear; }
    .help .swipe.displayed {
      -webkit-transition: opacity 1000ms linear;
      transition: opacity 1000ms linear;
      opacity: 1; }
    .help .swipe i {
      -webkit-animation: blink 4000ms linear infinite;
      animation: blink 4000ms linear infinite; }
    .help .swipe i:nth-child(1) {
      -webkit-animation-delay: 100ms;
      animation-delay: 100ms; }
    .help .swipe i:nth-child(2) {
      -webkit-animation-delay: 50ms;
      animation-delay: 50ms; }
  .help .slide0 .slider-slide {
    background: #34495e; }
  .help .slide0 .slider-pager, .help .slide0 .tracks {
    opacity: 0; }
  .help .slide0 h1 {
    margin-top: 1em;
    margin-bottom: 2em; }
  .help .slide1 .slider-slide {
    background: #46486d; }
  .help .slide2 .slider-slide {
    background: #58477d; }
  .help .slide3 .slider-slide {
    background: #6a468d; }
  .help .slide4 .tracks .additional {
    left: 0; }
  .help .slide4 .slider-slide {
    background: #7c459d; }
  .help .slide5 .slider-slide {
    background: #8e44ad; }
  .help .slide5 .tracks {
    opacity: 0; }
  .help .slide5 .swipe {
    display: none; }
  .help .slide5 h1 {
    margin-bottom: 2em; }
  .help .slide5 p.link {
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
    padding: 0px 10px;
    line-height: 36px;
    color: #ecf0f1; }
    .help .slide5 p.link i {
      font-size: 36px;
      vertical-align: middle;
      margin: 0px 10px; }
  .help .slide5 .downarrow {
    text-align: center;
    font-size: 36px;
    width: 100%;
    position: absolute;
    bottom: 52px; }
    .help .slide5 .downarrow i {
      color: #ecf0f1;
      -webkit-animation: blink 4000ms linear infinite;
      animation: blink 4000ms linear infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  1% {
    opacity: 0; }

  20% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }

  1% {
    opacity: 0; }

  20% {
    opacity: 1; } }
