/* Your app's CSS, go crazy, make it your own */


/* Base styles */
/*
  black : #000000
  dark: #1C1C19
  red: #A60202
  yellow: #FFC003
  light: #FCEA97
  
  light1: #FEF0B1;
  light2: #FEF4C6;

  dark1: #151513;
  dark2: #121208;

  white: #CCC;
  white2: #999;
*/

/* Fonts */
@font-face{
  font-family: 'Quantico';
  src: url(/fonts/quantico.ttf);
}

@font-face{
  font-family: 'Quantico';
  src: url(/fonts/quantico_bold.ttf);
  font-weight:bold;
}

/*
@font-face{
  font-family: 'Red October';
  src: url(/fonts/redoctober.ttf);
}
*/

@font-face{
  font-family: 'Red October';
  src: url(/fonts/redoctober_bold.ttf);
  font-weight:bold;
}

@font-face{
  font-family: 'Hunger Games';
  src: url(/fonts/hungergames.ttf);
}



body{
  background-color: #1C1C19; /* dark */
  color: #DDD; /* white */
  font-family: 'Quantico' sans-serif;
}

/* Topbar */
.topbar{
  background-color: #A60202; /* red */
  color: #FCEA97; /* light */
  border-bottom: none;
  font-family: 'Hunger Games';
}

/* Playlist topbar */
.playlist-topbar{
  background-color: #FCEA97; /* light */
  color: #1C1C19; /* dark */
  border-bottom: none;
  height: 32px; }

  .playlist-topbar .current-stars{
    font-weight: bold;
    float: right;
    display: block;
    text-align: right;
    min-width: 70px;
    margin-right: 40px; }

  .playlist-topbar .currently-playing{
    font-size: 12px;
    display: inline; }

.has-subheader{
  top: 78px; /* Because of smaller subheader */
}

/* Bottom tabs */
.bottomnav .tabs{
  background-color: #A60202; /* red */
  color: #FCEA97; /* light */
  border-top: none;
}

.bottomnav .tab-item .icon{
  margin-top: 8px;
}

/* Tracks */
.track { 
  background: #121208; /* dark2 */
  border: none;
}
.track:nth-child(odd) { 
  background: #151513; /* dark1 */
}

.track .left{
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 20px;
}

.track .right{
  float: right;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 20px;
}


/* Track details */
.track h3{ /* Artist */
  font-weight: bold;
  font-size: 15px;
}

.track p{ /* Title */
  color: #999; /* white2 */
  font-size: 13px;
}


/* Score */
.track .score{
  text-align: right;
}

.track .score strong{
  font-family: 'Red October';
  display: block;
  font-weight: bold;
  font-size: 24px;
  color: #999; /* white2 */
} 

.track .score span{
  display: block;
  font-size: 11px;
  margin-top: 2px;
  margin-right: 1px;
  font-weight: bold;
  color: #FFC003; /* yellow */
}


/* Upvote */
.track .upvote a{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid #666; /* darkgray */
  line-height: 32px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #A60202; /* red */
  vertical-align: middle;
}


/* New track */
.track.new .score strong{
  color: #A60202; /* red */
}

.track.new h3{
  color: #FFC003; /* yellow */  
}

.track.new p{
  color: #FFC003; /* yellow */
}

.track.new .upvote a{
  border-color: #A60202; /* red */
  color: #FFC003; /* yellow */
}


/* Down track */
.track.down .score strong{
  color: #444;
}

.track.down h3{
  color: #666;
}

.track.down p{
  color: #444;
}

.track.down .upvote a{
  border-color: #444;
  color: #666;
}


/* Search form */
form.search{
  background: #F0F0F0; /* white */
}

form.search input{
  color: #1C1C19; /* dark */  
}

.track .add a{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid #666; /* darkgray */
  line-height: 28px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #A60202; /* red */
  vertical-align: middle;  
}

.track .add.added a{
  border-color: #A60202; /* red */
  color: #FFC003; /* yellow */
}


/* Loading screen */
.loading-screen{
  text-align: center;
  margin-top: 25%;
}



/* ========== */
/* ANIMATIONS */
/* ========== */


/* Track insertion */
@-webkit-keyframes insert{ 
  /* Initial state : nothing */
  0% {
    height: 0;
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* Open the space */
  30% {
    height: 72px;
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* Slide the track from the left */
  100% {
    height: 72px;
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}


/* Track removal */
@-webkit-keyframes remove{ 
  /* Initial state : nothing */
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    height: 72px;
  }

  /* Slide to the right */
  30% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 72px;
  }

  /* Close the space */
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 0;
  }
}

.track.ng-enter {
  height: 0;
  opacity: 0; /*Trick for no flicker*/
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all;
}

.track.ng-enter.ng-enter-active {
  -webkit-animation: insert 1000ms;
  animation: insert 1000ms;
}

.track.ng-leave {
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all;
}

.track.ng-leave.ng-leave-active {
  -webkit-animation: remove 1000ms;
  animation: remove 1000ms;
}


/* Reordering */
.track.ng-move {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.track.ng-move.ng-move-active {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.track.ng-move + .track {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}

.track.ng-move.ng-move-active + .track {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}