/* Your app's CSS, go crazy, make it your own */
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@font-face {
  font-family: 'Komikax';
  src: url(/fonts/KOMIKAX_.ttf); }

.track {
  height: 72px;
  border: 0;
  background: #e4e6e8; }
  .track .item-content {
    padding: 15px; }
  .track .left {
    float: left;
    width: 42px;
    height: 42px;
    margin-right: 15px; }
    .track .left strong {
      text-align: right;
      display: block;
      font-family: "Komikax";
      line-height: 27px;
      font-size: 31.5px; }
      .track .left strong.tight {
        font-size: 18.9px; }
  .track .right {
    float: right;
    width: 42px;
    height: 42px;
    margin-left: 15px; }
    .track .right a {
      display: inline-block;
      height: 42px;
      line-height: 42px;
      width: 42px;
      text-align: center;
      vertical-align: middle;
      font-size: 42px;
      cursor: pointer; }
  .track h3 {
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 0;
    height: 21px;
    line-height: 21px; }
  .track p {
    font-weight: 600;
    font-size: 13px;
    height: 21px;
    line-height: 21px; }
  .track h3 {
    color: #34495e; }
  .track p {
    color: #7f8c8d; }
  .track:nth-child(odd) {
    background: #dee1e3; }
  .track .left strong {
    color: #7f8c8d; }
  .track .right a {
    color: #34495e; }
  .track.new {
    background: #9145b1; }
    .track.new h3 {
      color: #ecf0f1; }
    .track.new p {
      color: #ecf0f1; }
    .track.new:nth-child(odd) {
      background: #8b43a9; }
    .track.new .left strong {
      color: #ecf0f1; }
    .track.new .right a {
      color: #ecf0f1; }
  .track.dying {
    background: #e4e6e8; }
    .track.dying h3 {
      color: #7f8c8d; }
    .track.dying p {
      color: #95a5a6; }
    .track.dying:nth-child(odd) {
      background: #dee1e3; }
    .track.dying .left strong {
      color: #95a5a6; }
    .track.dying .right a {
      color: #7f8c8d; }

body {
  background-color: #e1e4e5;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-weight: 700; }

.topbar {
  background: #8e44ad;
  color: #ecf0f1;
  border-bottom: none;
  font-family: "Komikax";
  height: 72px;
  padding: 15px; }
  .topbar h1.title {
    line-height: 72px;
    font-size: 24px; }

.bottomnav .tabs {
  background-color: #8e44ad;
  color: #ecf0f1;
  border-top: none;
  height: 72px; }

.bottomnav .tab-item .icon {
  margin: 15px;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  width: 42px;
  text-align: center;
  vertical-align: middle;
  font-size: 42px; }

.playlist-topbar {
  background: #2c3e50;
  color: #bdc3c7;
  height: 72px;
  top: 72px;
  font-weight: 900;
  border-bottom: 0;
  padding: 15px;
  line-height: 42px;
  text-align: right; }
  .playlist-topbar strong {
    vertical-align: baseline;
    line-height: 27px;
    display: inline-block;
    font-size: 31.5px;
    font-family: "Komikax"; }
  .playlist-topbar small {
    vertical-align: super;
    margin-right: 10.5px;
    margin-left: 4.2px;
    line-height: 27px;
    display: inline-block;
    font-family: "Komikax";
    font-size: 16.8px; }
  .playlist-topbar span {
    top: 0;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    width: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
    color: #9b59b6;
    margin-top: -21px; }

.has-subheader {
  top: 144px; }
