$icon-height: $inner-height;

@mixin icon{
  display: inline-block;
  height: $icon-height;
  line-height: $icon-height;
  width: $icon-height;
  text-align: center;
  vertical-align: middle;
  font-size: $icon-height;
}

@mixin upvote{
  @include icon;
}