$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import "../../../app/css/colors";
@import "../../../app/css/fonts";
// endbower


// Responsive typography
@media screen and (max-width:319px){ body{font-size: 10px;} }
@media screen and (min-width:320px){ body{font-size: 12px;} }
@media screen and (min-width:480px){ body{font-size: 14px;} }
@media screen and (min-width:768px){ body{font-size: 16px;} }

h1              { font-family: $titlefont; font-size: 4em; margin: 0 0 1em; line-height: 1.6em; font-weight: normal; }
h2              { font-family: $titlefont; font-size: 2.5em; margin: 0 0 1em; line-height: 1.6em; font-weight: normal; }
p,a,li          { font-family: $basefont; font-size: 1.6em; margin-bottom: 1em; line-height: 1.6em; font-weight: 300; }

/* Everything but the jumbotron gets side spacing for mobile first views */
section {
    padding-left: 15px;
    padding-right: 15px;

    // Vertical padding
    padding-top: 30px;
    padding-bottom: 30px;
}


// Header
.header{
    background: $darkmain;
    color: $white;

    .container{
        position: relative;
    }

    h1{
        margin: 0;
    }

    h1 span{
        opacity: 0.75;
        margin-right: 0.1em;
    }

    p.tagline{
        margin-top: 0.4em;
        font-size: 2.5em;
        font-weight: 300;
        font-style: italic;
        color: $lightgray;
    }

    a.cta{
        color: $white;
        font-size: 1.6em;
        margin: 1.5em 0;
        padding: 0.4em 1em;
        background: rgba(255,255,255,0.4);
        &:hover{
            background: rgba(255,255,255,0.5);
        }
    }

    p.deezer{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

// Dec
.description{
    background: $lightback;
    color: $white;

    p.headline{
        font-size: 2.5em;
        font-weight: 200;
        margin-top: 1em;
        font-style: italic;        
    }
}

.demo{
    background: $lightgray;
    color: $darkback;
}

#iphone-mockup{
    float: right;
    width: 478px;
    height: 999px;
    position: relative;
    background: url(../images/iphone-mockup.png);
    iframe{
        position: absolute;
        top: 149px;
        left: 43px;
    }
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    section {
        padding-left: 0;
        padding-right: 0;
    }

    // Full-page first section
    .header .container{
        padding-top: 130px;
        min-height: 640px;
    }
}
