$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$inner-height: 40px;

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import "../../../app/css/colors";
@import "../../../app/css/fonts";
@import "../../../app/css/icons";
// endbower

$headfont: 'Montserrat', sans-serif;

// Responsive typography
@media screen and (max-width:319px){ body{font-size: 10px;} }
@media screen and (min-width:320px){ body{font-size: 12px;} }
@media screen and (min-width:480px){ body{font-size: 14px;} }
@media screen and (min-width:768px){ body{font-size: 16px;} }

h1, h2, h3{ margin: 0 0 1em; line-height: 1.6em; font-weight: normal; font-weight: 700; font-family: $headfont; }
h1              { font-size: 4em; }
h2              { font-size: 2.5em; }
p               { margin-bottom: 1em; line-height: 1.6em; font-weight: 400; }

body{
    -webkit-font-smoothing: antialiased;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
section {
    padding-left: 1em;
    padding-right: 1em;

    // Vertical padding
    padding-top: 4em;
    padding-bottom: 4em;
}


.cta-btn{
    display: inline-block;
    font-size: 1.6em;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1.6em;
    height: 3.2em;
    line-height: 3.2em;
    cursor: pointer;
}


.landing{
    background-color: $darkback;
    color: $white;
    background-image: radial-gradient(ellipse farthest-side at 40% 30%, rgba(black, 0.4) 0%, rgba(black, 0) 100%), radial-gradient(ellipse farthest-side at 70% 80%, rgba($darkmain, 0.4) 0%, rgba($darkmain,0) 70%), radial-gradient(ellipse farthest-side at 20% 10%, rgba($darkgray, 0.3) 0%, rgba($darkgray,0) 70%);

    .container{
        position: relative;
    }

    h1{
        color: $white;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        font-size: 2.5em;
        line-height: 1.2em;
        margin-bottom: 1.6em;
    }

    h2{
        font-family: $basefont;
        font-size: 1.6em;
        font-weight: 300;
        font-style: italic;
        color: $lightgray;
    }


    .cta{
        margin-top: 3.6em;
        margin-bottom: 2.4em;

        .button{
            @extend .cta-btn;
            color: $white;
            border: 0.15em solid $white;
            -webkit-transition: all 100ms linear;
            transition: all 100ms linear;
            font-family: $headfont;

            &:hover{
                text-decoration: none;
                color: $white;
                background-color: $lightmain;
                border-color: $lightmain;
            }
        }
    }


    .login{
        padding-top: 1em;
        font-size: 1.4em;
        color: $white;
        font-weight: 900;
        margin-bottom: 3em;

        a{
            color: $white;
            text-decoration: none;
            padding-bottom: 0.15em;
            border-bottom: 0.15em solid $white;
            &:hover{
                border-color: $lightmain;
            }
        }
    }

    #mockup{
        img{
            float: right;
        }
    }
}


.description{
    color: $lightback;
    background: $white;

    .step{
        margin-bottom: 5em;
    }

    .sep{
        text-align: center;
    }

    h3{
        font-size: 2.5em;
    }

    p{
        color: $darkgray;
        font-style: italic;
        font-size: 1.6em;
    }

    .bottom{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 2.4em 0;

        p{
            color: $gray;
            font-style: italic;
        }

        .btn{
            @extend .cta-btn;

            background: $lightmain;
            border-radius: 0.2em;
            color: $white;
            border-bottom: 0.2em solid $darkmain;

            &:hover{
                background: darken($lightmain, 10);
                border-color: darken($darkmain, 10);
                color: white;
            }
        }
    }
}

.bottom{


    .links{

        display: block;
        margin-top: 6em;
        padding-top: 1em;
        color: $lightgray;
        font-weight: 600;
        border-top: 1px solid rgba(0,0,0,0.1);

        a, span{
            display: inline-block;
            margin: 0em 1em;
        }

        a{
            color: $lightgray;
            display: inline-block;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }

    }
    a.contact{
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    section {
        padding-left: 0;
        padding-right: 0;
    }

    .description .cta{
        margin-left: 3em;
        margin-right: 3em;
    }

}
