<a ng-click="closeModal(); clearSearch();" class="close">
  <i class="ion-ios7-close-empty"></i>
</a>


<div class="pane" ng-class="'slide' + index">

    <div class="tracks ion-list">
      <ion-item class="track demo" ng-class="track.status">
        <div class="left score">
          <strong>
            {{ track.score }}
          </strong>
        </div>
        <div class="right" ng-click="track.upvote()">
          <upvote track="track"></upvote>
        </div>
        <h3>Happy</h3>
        <p>C2C</p>
      </ion-item>
    </div>

    <div class="swipe" ng-class="{displayed: linkToNextPage}">
      <i class="fa fa-chevron-left"></i>
      <i class="fa fa-chevron-left"></i>
      <i class="fa fa-chevron-left"></i>
    </div>

    <ion-slide-box on-slide-changed="slideHasChanged(index)">

      <ion-slide>
        <h1>Welcome!</h1>
        <p class="title">Swipe to get started</p>
      </ion-slide>

      <ion-slide>
        <p class="title">
          This is a track.<br>
          <strong>Click</strong> on the button to <strong>raise its score</strong>.
        </p>
      </ion-slide>

      <ion-slide>
        <p class="title">
          Newly-added tracks are <strong>pink</strong>.<br>
          Your votes <strong>count double</strong> on them.
        </p>
      </ion-slide>

      <ion-slide>
        <p class="title">
          Old tracks are <strong>gray</strong>.<br>
          They <strong>lose points</strong> until you vote for them.
        </p>
      </ion-slide>

      <ion-slide>
        <p class="title">
          When the current track is finished, <br>
          the track with the <strong>highest score</strong> is <strong>played next</strong>.
        </p>
      </ion-slide>

      <ion-slide ng-click="closeModal()">

        <h1>That's it!</h1>
        <p class="title">Now, enter the code for the party and get started!</p>

      </ion-slide>


    </ion-slide-box>

</div>