
<div class="main-title login">
  <span>poll</span><span>.</span><span>dance</span>
</div>

<div class="list">

  <form class="room-form" ng-submit="joinRoom()" ng-class="{focus: focused}">
    <label class="item item-input">
      <i class="upvote" ng-class="{muted: !focused, spin: loading}">
        <span class="outer"><span class="inner"></span></span>
      </i>
      <input type="text" placeholder="Enter your code" ng-model="room.code" ng-click="focused=true">
      <input type="submit" style="display:none;"></input>
    </label>
  </form>

  <div class="item login-error">
    {{ error }}
  </div>

</div>
