<div class="playlist-topbar bar bar-subheader">
  <div class="current-stars">
    <strong>{{votes()}}</strong> <small>x</small> <i class="upvote muted"><span class="outer"><span class="inner"></span></span></i>
  </div>
<!--   <div class="currently-playing"><span>Playing : </span>{{ playing }}</div> -->
</div>

<ion-view title="PLAYLIST">
  <ion-content class="has-subheader">

    <div ng-show="playlist.length === 0" class="padding">
      <p class="notracks">The playlist is empty :( &nbsp;&nbsp; Please <a href="#/tab/search">add some tracks</a></p>
    </div>

    <ion-list>

      <ion-item ng-repeat="track in playlist | orderTracks" type="item-text-wrap" class="track" ng-class="track.status + ' ' + (track.upvoting ? 'pending' : '')">
        <div class="left score">
          <strong>{{track.score}}</strong>
          <span ng-show="track.pendingVotes > 0">+ {{track.pendingVotes}}</span>
        </div>

        <div class="right upvote" ng-mousedown="track.startUpvote()">
          <i class="upvote"><span class="outer"><span class="inner"></span></span></i>
        </div>

        <h3>{{track.title}}</h3>
        <p>{{track.artist}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
