<div class="topbar bar bar-header">
  <h1 class="title">
    Playlist
  </h1>
</div>


<ion-view>
  <ion-content>

    <div ng-show="playlist.length === 0" class="padding">
      <p class="notracks">The playlist is empty :( &nbsp;&nbsp; Please <a href="#/tab/search">add some tracks</a></p>
    </div>

    <ion-list>

      <ion-item class="track highlight">
        <div class="left score">
          <strong>
            <i class="fa fa-volume-up"></i>
          </strong>
        </div>
        <h3>{{playlist.playing.title}}</h3>
        <p>{{playlist.playing.artist}}</p>
      </ion-item>

      <ion-item ng-repeat="track in playlist.tracks | orderTracks" type="item-text-wrap" class="track" ng-class="track.status + ' ' + (track.upvoting ? 'pending' : '')">
        <div class="left score">
          <strong>{{track.getScore()}}</strong>
        </div>

        <div class="right upvote" ng-click="track.upvote()">
          <upvote track="track"></upvote>
          <!-- <i class="upvote"><span class="outer"><span class="inner"></span></span></i> -->
        </div>

        <h3>{{track.title}}</h3>
        <p>{{track.artist}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
