

<ion-list>

  <a ng-click="closeModal(); clearSearch();" class="close">
    <i class="ion-ios7-close-empty"></i>
  </a>


  <form class="search" ng-submit="doSearch()">
    <label class="item item-input">
      <i class="ion-loading-c icon" ng-show="searching"></i>
      <i class="ion-ios7-search icon" ng-show="!searching"></i>
      <input type="text" placeholder="Artist, track, ..." ng-model="search.query">
      <input type="submit" style="display:none;"></input>
    </label>
  </form>

  <div class="searching" ng-show="searching">
    <div class="spinner">
      <div class="inner"></div>
    </div>
  </div>


  <ion-item ng-repeat="result in results" type="item-text-wrap" class="track">

    <div class="right upvote add">
      <i class="ion-ios7-plus-outline add-track" ng-click="addTrack(result)" ng-show="!result.status"></i>
      <i class="ion-loading-c add-track" ng-show="result.status == 'adding'"></i>
      <i class="ion-ios7-checkmark-empty add-track" ng-show="result.status == 'added'"></i>
    </div>

    <h3>{{result.title}}</h3>
    <p>{{result.artist.name}}</p>

  </ion-item>
  
</ion-list>
