<div class="topbar bar bar-header">
  <h1 class="title">Add a track</h1>
</div>

<ion-view>
  <ion-content>

    <ion-list>

      <form class="search" ng-submit="doSearch()">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search for a track" ng-model="search.query">
          <input type="submit" style="display:none;"></input>
        </label>
      </form>


      <div ng-show="firstView" class="padding">
        <p class="search-help">Look for an artist or track, click + to add it to the current playlist.</p>
      </div>


      <div class="searching" ng-show="searching">
        <div class="spinner">
          <div class="inner"></div>
        </div>
      </div>


      <ion-item ng-repeat="result in results" type="item-text-wrap" class="track" ng-hide="searching" ng-class="(result.status === 'added') ? 'highlight' : ( (result.status === 'cannotadd') ? 'dying' : '' )">
        <div class="left score">
          <strong>{{result.score || '-'}}</strong>
        </div>

        <div class="right upvote add" ng-class="result.status">
          <i class="upvote" ng-show="result.score"><span class="outer"><span class="inner"></span></span></i>
          <i class="fa fa-plus-circle add-track" ng-hide="result.score" ng-click="addTrack(result)"></i>
        </div>

        <h3>{{result.title}}</h3>
        <p>{{result.artist.name}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
